.about {
    position: relative;
    height: 100vh;
    width: 100%;
    color: white;
    margin: 0;
    &:before {
        filter: brightness(50%);
    }
    .social {
        a {
            color: $white;
            transition: $transition-fade;
        }
        i {
            &:hover {
                color: $blue;
                transition: $transition-fade;
            }
        }
    }
    .back-image{
        background-image: url('~@/assets/img/about.jpeg');
        height: 100%; width: 100%;
        position: absolute;


        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(30%);
    }
    
    .about-img {
        width: 15rem;
        height: 16rem;
        margin: 0 auto;
    }

    .row {
        margin: 0 auto;
        width: 100%;
        filter: brightness(100%);
        p {
            margin: 0 auto;
            text-align: center;
        }
    }
}

