#skills{
    display: flex;
    .back-image{
        background-image: url(/img/about.ef09a6b2.jpeg);
        min-height: 790px;
        width: 100%;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: brightness(30%);
        filter: brightness(30%);
        display: flex;
        left: 0;
    }
    color:white;
    .under-icon{
        div{
            padding-right: 0;
        }
    }
}