#skills{
    display: flex;
    z-index: 9999;
    .back-image{
        background-image: url('~@/assets/img/code2.png');
        min-height: 880px;
        width: 100%;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: brightness(25%);
        filter: brightness(25%);
        display: flex;
        left: 0;
        z-index: -1;
    }
    color:white;
    .under-icon{
        div{
            padding-right: 0;
        }
    }
}